# Virtual Environment
venv/

# Python cache
__pycache__/
*.pyc

# VS Code settings
.vscode/

# Databases
*.db

# ML Models
saved_models/
*.keras
*.h5
*.pkl

# Logs
*.log

# OS files
.DS_Store
Thumbs.db